/* GLOBAL */
@font-face {
    font-family: Myriad Pro;
    src: url(fonts/MyriadPro-Regular.otf);
}
body{
    font-family: "Myriad Pro";
}
.content-container{
    background-color: #f2f2ec;
    border-radius: 10px;
}
/* BUTTONS */
.ia-btn{
    border-radius: 7px;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-size:10px;
}
.yellow-btn{
    background-color:rgb(245,173,91);
}
.blue-btn{
    background-color:rgb(99,186,196);
    padding:6px 30px;
}
.blue-dark-btn{
    background-color:#39acd8;
}
.view-all-btn{
    text-transform: none;
    font-size: 13px;
    padding: 6px 24px;
}
.view-all-btn a{
    color:#fff;
}
.view-all-btn a:hover{
    text-decoration: none;
    color: #000;
}
.image-btn{
    padding: 15px 18px 18px;
    border-radius: 10px;
}
.more-btn{
    border-radius: 10px;
    font-size: 18px;
    padding: 6px 14px;
}
.more-btn span{
    vertical-align: middle;
    line-height: 30px;
}
.social-link{
    display: inline-block;
    width: 31px;
    height: 27px;
}
.social-link.facebook{
    background: url(images/facebook-link.png) no-repeat #fff;
}
.social-link.twitter{
    background: url(images/twitter-link.png) no-repeat #fff;
}
.social-link.vimeo{
    background: url(images/vimeo-link.png) no-repeat #fff;
}
/* INPUTS */
input.form-control{
    border-radius: 10px;
    height: 31px;
    width: 340px;
    border: 2px solid #5d3d1d;
    font-size: 12px;
    display: inline-block;
}
.search-input-container{
    position:  relative;
    padding-left: 5px;
}
.search-input-container .search-input~i.fa{
    color:#a1a3ac;
}
.search-input-container .search-input~i.fa-search{
    position: absolute;
    top: 7px;
    left: 320px;
    font-size: 15px;
}
.icon{
    display: inline-block;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: 50% 50%;
}
.icon.cart-icon{
    background-image: url(images/commerce.png);
}
.icon.favorite-icon{
    background-image: url(images/favorite.png);
}

/* TEXTS */
.yellow-text{
    color: #e89638;
    letter-spacing: 1.1px;
}
.gray-text{
    color:#79828b;
}
.grey-container{
    border-radius:5px;
    background-color:rgb(242,242,236);
}

/***** CUSTOM SELECT ******/
.select-container .btn{
    border:2px solid #5d3d1d;
    border-radius:10px;
    text-align:left;
    height: 29px;
    padding-right:7px;
    padding-top: 3px;
    padding-left: 10px;
}
.select-container .btn,
.select-container.order .dropdown-menu,
.inanime-input-field{
    color:#79828b;
    font-size:13px;
}
.select-container.order .dropdown-menu li {
    padding-left: 10px;
    cursor: pointer;
}
.select-container.order .dropdown-menu li > span {
    width:100%;
    display:inline-block;
}
.select-container.order .dropdown-menu li:hover {
    color:#1a2228;
}
.select-container.dropdown .btn > span.glyphicon {
    float:right;
    color:#68422e;
    font-size: 10px;
    top:5px;
}
.select-container.dropdown .btn > span.text {
    display:inline-block;
    /*width:75px;*/
    overflow:hidden;
}
.select-container.order .dropdown-menu {
    border-top:none;
    border-left:2px solid #5d3d1d;
    border-right:2px solid #5d3d1d;
    border-bottom:2px solid #5d3d1d;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    top:85%;
}
.select-container.dropdown.open > .dropdown-toggle.btn-default {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border: 2px solid #5d3d1d;
    background-color: #fff;
}
.select-container .btn:focus {
    background-color:#fff;
}
/****************** INPUT ******************************/
.inanime-input-field{
    border: 2px solid #5d3d1d;
    border-radius: 10px;
    height:29px;
    text-align: center;
    display: inline-block;
}

/******************************* HEADER ***********************************/
header{
    padding-top: 30px;
    display: block;
}
header .logo-link{
    display: inline-block;
    margin-top: -11px;
}
header .contacts,
nav.navigation .contacts{
    font-weight: bold;
    font-size: 23px;
    letter-spacing: -0.4px;
    background: url(images/phone.png) no-repeat #fff;
    padding-left: 31px;
    display: inline-block;
    height: 24px;
}
header .social-container{
    margin-left: -13px;
}
header .search-row{
    padding-top: 14px;
}
header .user-controls-container{
    padding-left: 20px;
}
header .user-controls-container .text-btn.blue-btn{
    margin-left: 7px;
}
header .text-btn.blue-btn,
header .text-btn.yellow-btn{
    box-sizing: content-box;
}
header .text-btn.yellow-btn{
    min-width: 61px;
}
header .text-btn.blue-btn{
    min-width: 80px;
}
header .cart-container .text-container{
    display: inline-block;
    width: 165px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
header .cart-container .fa-long-arrow-right{
    padding: 0 5px;
}
header .cart-container{
    display: inline-block;
    margin-top: 10px;
}

.content{
    overflow: hidden;
}
/******************************** FOOTER **************************************/
footer{
    padding-top: 35px;
}
footer .about .row{
    padding-left: 18px;
}
footer p{
    width: 216px;
    letter-spacing: 0.1px;
}
footer .about p{
    padding-top: 30px;
}
footer .menu{
    text-transform: uppercase;
}
footer .menu ul{
    list-style: none;
    padding: 0;
}
footer .menu ul li{
    padding-top: 14px;
}
footer .menu li i{
    color:#e4a8c1;
    font-size: 11px;
}
footer .menu li a{
    color: #79828b;
    padding-left: 10px;
}
footer .contacts{
    padding-left: 23px;
}
footer  h4{
    font-weight: bold;
    font-size: 17px;
    color:#181f24;
}
footer .contacts p{
    padding-top: 11px;
}
footer .join{
    padding-left: 0px;
}
footer .join p{
    padding-top: 7px;
    width: 300px;
}
footer .join .social-container{
    padding-top: 10px;
    padding-left: 3px;
}
footer .general-container{
    background-image: url(images/hare-footer.png);
    background-repeat: no-repeat;
    background-position: 97% 76%;
}

/******************************* CONTENT *****************************************/
.content .main-carousel{
    padding-top: 20px;
}
.content .bx-advertisingbanner-content{
    max-width: 390px !important;
}
.content .bx-advertisingbanner-content > div{
    font-size: 30px !important;
}

.carousel-custom{
    overflow:hidden;
    z-index:100;
    height:380px;
}
.carousel-custom,
.carousel-custom .button{
    width:280px;
}
.carousel-custom .button{
    display:none;
    z-index:101;
}
.carousel-custom:hover .button{
    display:block;
}
.carousel-custom .button{
    position:absolute;
    text-align:center;
    background-color: #ccc;
    opacity: 0.5;
    padding: 5px 0;
}
.carousel-custom .button:hover{
    cursor:pointer;
}
.carousel-custom .prev{
    top:0;
}
.carousel-custom .next{
    bottom:0;
}
.carousel-custom ul{
    margin:0;
    padding:0;
}
.carousel-custom ul li{
    list-style:none;
    text-align: center;
    padding:0 0 10px 0;
    position:relative;
}
.carousel-custom ul li img{
    height:180px;
}
.carousel-custom li .text{
    position: absolute;
    top: 42%;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 10px 15px;
    max-width: 167px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
    text-align: left;
}
.row.articles-links{
    margin-top:20px;
}
.row.articles-links > div {
    padding-left: 10px;
}
.row.articles-links .article-container{
    display:inline-block;
    width:280px;
    text-align: left;
    overflow: hidden;
    padding:0 15px 0 100px;
    height:85px;
    background-repeat: no-repeat;
    text-decoration: none;
    color:#000;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 23px;
}
.row.articles-links .row{
    text-align:center;
}
.row.articles-links .article-container img{
    width:85px;
    height:85px;
}
.row.articles-links .article-container .table-wrap{
    display:table;
    height:85px;
}
.row.articles-links .article-container .text{
    width: 197px;
    display: table-cell;
    vertical-align:middle;
}
.row.articles-links .article-container.discounts{
    background-image: url(images/advantage-icon-discount.png);
}
.row.articles-links .article-container.choise{
    background-image: url(images/advantage-icon-choise.png);
}
.row.articles-links .article-container.shipping{
    background-image: url(images/advantage-icon-free-shiping.png);
}
.row.articles-links .article-container.order{
    background-image: url(images/advantage-icon-pod-zakaz.png);
}


/******************************** PRODUCT ITEM **********************/
.product-item-preview {
    border:2px solid rgb(235,235,235);
    /*display:inline-block;*/
    position: relative;
    /*width:275px;*/
}
.product-item-preview:hover {
    border-color:rgb(104,66,46);
    -webkit-box-shadow: -1px 6px 4px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 4px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 4px -5px rgba(0,0,0,0.75);
}
.product-item-preview,
.product-item-preview .image-container {
    border-radius:10px;
}

.product-item-preview.vertical .image-container,
.product-item-preview.vertical .data-container{
    display:block;
}
.product-item-preview.vertical .image-container {
    width:275px;
    height:200px;
    border-radius:0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.product-item-preview.vertical .image-container img {
    width:277px;
}
.product-item-preview.vertical .data-container{
    text-align:center;
}
.product-item-preview.vertical .price-container .price {
    padding: 0px 8px;
}
.product-item-preview.vertical .title-container {
    padding: 8px;
}

.product-item-preview.horizontal:first-child{
    margin-bottom: 15px;
}
.product-item-preview.horizontal .image-container,
.product-item-preview.horizontal .data-container{
    display:inline-block;
}
.product-item-preview.horizontal .image-container,
.product-item-preview.horizontal .data-container {
    height:170px;
    overflow:hidden;
    vertical-align:top;
}
.product-item-preview.horizontal .image-container {
    width:113px;
    border-radius:0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.product-item-preview.horizontal .data-container {
    width:159px;
}
.product-item-preview.horizontal .data-container {
    padding: 30px 5px 5px 15px;
}
.product-item-preview.horizontal .title-container {
    margin-top: 8px;
    padding: 0;
}
.product-item-preview.horizontal .icons-container {
    top: 5px;
    /*left: -25px;*/
    left: -17px;
}
.product-item-preview.horizontal .image-container img {
    height:101%;
}
.product-item-preview.horizontal .rate-container {
    margin-top: 0px;
}
.product-item-preview.horizontal .rate-container table{
    margin: 0;
}
.product-item-preview .image-container {
    overflow:hidden;
}
.product-item-preview .image-container img {
    margin-top: -1px;
}
.product-item-preview .data-container {
    padding: 25px 10px 6px;
}
.product-item-preview .price-container .price {
    font-weight:bold;
    font-size: 21px;
    letter-spacing: 1.1px;
}
.product-item-preview .price-container .price.old{
    text-decoration:line-through;
    color:#000;
}
.product-item-preview .title-container {
    font-size: 14px;
    letter-spacing: 0.5px;
}
.product-item-preview .title-container .link,
.product-item-preview .title-container .link:hover {
    color:#79828b;
    display: inline-block;
}
.product-item-preview .title-container .article{
    font-size: 12px;
    padding-top: 1px;
    min-height: 20px;
}
.product-item-preview .rate-container {
    margin-top:5px;
}
.product-item-preview .icons-container {

}
.product-item-preview .icons-container {
    width:131px;
    position:absolute;
    top: 8px;
    left: -17px;
}
.product-item-preview .icons-container .additional-icon{
    display:inline-block;
    width:131px;
    height:60px;
    margin-top: -23px;
    position: relative;
}
.product-item-preview .icons-container .additional-icon.new {
    background-image:url(images/product-icon-new-desktop.png);
    background-repeat:no-repeat;
    z-index: 100;
}
.product-item-preview .icons-container .additional-icon.bestseller{
    background-image:url(images/product-icon-bestseller-desktop.png);
    background-repeat:no-repeat;
    z-index: 99;
}
.product-item-preview .icons-container .additional-icon.recommended{
    background-image:url(images/product-icon-recommended-desktop.png);
    background-repeat:no-repeat;
    z-index: 98;
}
.product-item-preview.horizontal .image-container,
.product-item-preview.horizontal .data-container{
    display:inline-block;
}

.sections-carousel{
    margin-top: 50px;
    position: relative;
}
.sections-carousel .fox-icon{
    position: absolute;
    display: inline-block;
}
.sections-carousel .fox-icon.top{
    background: url(images/sections-new-fox-top-desktop.png) no-repeat;
    width: 169px;
    height: 91px;
    top: 48px;
    z-index: 100;
    left: 340px;
}
.sections-carousel .fox-icon.bottom{
    bottom: -34px;
    right: -88px;
    background: url(images/sections-new-fox-bottom.png) no-repeat;
    width: 122px;
    height: 92px;
    z-index: 100;
}
.sections-carousel h2{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 29px;
}
.sections-carousel .column{
    padding: 0;
}
.sections-carousel .carousel-container{
    margin-bottom: 25px;
}
#fox-icon-bottom{
    position: absolute;
    display: inline-block;
    background: url(images/sections-new-fox-bottom.png) no-repeat;
    width: 122px;
    height: 92px;
    z-index: 101;
    right: 0;
    margin-top: -59px;
}

.bx_item_detail_rating .bx_stars_progres {
    background: #faab2e;
}
.section-reviews-news{
    padding-top: 30px;
    padding-bottom: 50px;
}
.section-reviews-news .reveiew-icon-fox{
    display: inline-block;
    background: url(images/sections-reviews-news-fox-left.png) no-repeat;
    width: 85px;
    height: 115px;
    position: absolute;
    margin-top: 120px;
    margin-left: -77px;
}
.section-reviews-news .reveiew-icon-hearts{
    display: none;
    background: url(images/sections-reviews-news-heart.png) no-repeat;
    width: 85px;
    height: 115px;
    position: absolute;
    margin-left: 260px;
    margin-top: 25px;
    z-index: 100;
}
.section-reviews-news .reviews-list{
    padding-top: 15px;
}
/******************************** REVIEWS **************************************/
.reviews-list{
    margin-top: 0px;
}
.reviews-list .title-container .view-all-btn{
    float:right;
}
.reviews-list .title-container{
    padding-right: 25px;
}
.reviews-list .title-container h2{
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
.reviews-list .review-container{
    display: inline-block;
    width: 425px;
    height: 230px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.reviews-list-container{
    margin-top: 20px;
}
.review-container:nth-child(odd) {
    margin-right: 20px;
}
.review-container a{
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    display:block;
    height: 100%;
}
.review-container a:hover{
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
}
.review-container img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.review-container .review-info{
    background-color: #3baeda;
    width: 145px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 40px;
}
.review-container .review-title,
.review-container .review-anonce{
    padding: 5px 18px;
}
.review-container .review-title{
    font-weight: bold;
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 1px;
}
.review-container .review-anonce{
    line-height: 23px;
}
.review-container .review-info .text{
    font-size: 13px;
}
.review-container .review-info .text i{
    padding-right: 5px;
}

/****************************** ABOUT *********************************/
.content .section-about{
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    height: 317px;
    overflow: hidden;
    position: relative;
    color: #fff;
}
.content .section-about .container{
    padding-top: 30px;
}
.content .section-about h2{
    text-transform: uppercase;
    font-size: 37px;
    font-weight: bold;
    color: #f5ad5b;
    margin-bottom: 20px;
}
.content .section-about .content-text p{
    margin-bottom: 18px;
}
.content .section-about img{
    /*width: 100%;*/
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
.content .section-about .more-btn{
    margin-top: 7px;
}

/********************************* SUBSCRIBE ********************************/
.section-subscribe{
    background: rgb(59,174,218);
    background: -moz-linear-gradient(top,#219bc7  0%,#1d8bb2 50%,#1b7ea1 100%);
    background: -webkit-linear-gradient(top,#219bc7  0%,#1d8bb2 50%,#1b7ea1 100%);
    background: -o-linear-gradient(top,#219bc7  0%,#1d8bb2 50%,#1b7ea1 100%);
    background: -ms-linear-gradient(top,#219bc7 0%,#1d8bb2 50%,#1b7ea1 100%);
    background: linear-gradient(top,#219bc7  0%,#1d8bb2 50%,#1b7ea1 100%);
    padding: 13px 0;
}
.section-subscribe .container{
    padding-left: 0;
}

/******************************* CATALOG ITEMS ***********************************/
.section-catalog .product-item-preview{
    display: inline-block;
    margin: 0 0 25px 0;
    vertical-align: top;
}
.section-catalog .product-item-preview:nth-child(3n+2){
    margin: 0 10px 25px;
}
.section-catalog .product-item-preview.vertical .data-container{
    max-width: 275px;
}
.section-catalog .product-item-preview.vertical .title-container .text{
    height: 20px;
    overflow: hidden;
}
.section-catalog .sort-container .select-title,
.section-catalog .sort-container .select-container.order,
.section-catalog .sort-container .type-buttons{
    display:inline-block;
    vertical-align:middle;
}
.section-catalog .select-container.order .btn,
.section-catalog .select-container.order .dropdown-menu {
    min-width: 100px;
}
.select-container.dropdown .btn > span.text {
    width:65px;
}
.section-catalog .select-container.order span.glyphicon {
    font-size: 10px;
    padding-left: 2px;
}
.section-catalog .select-container.order span.glyphicon.glyphicon-triangle-bottom {
    vertical-align: middle;
}
.section-catalog .select-container .select-title{
    display: inline-block;
}
.section-catalog  .items-section #overlay-load{
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    opacity: 0.5;
    height: 4444px;
    width: 100%;
    z-index:110;;
}
/******************** SELECT TITLE ***********************/
.section-catalog .select-title{
    font-size: 13px;
    color: #79828b;
    font-weight: normal;
    padding-right: 8px;
}
/******************** TYPE BUTTONS *************************/
.section-catalog .type-buttons .type-btn{
    background: #fff;
    color: #79828b;
    border-radius: 10px;
    border:2px solid;
    padding: 5px 11px;
    font-size: 13px;
}
.section-catalog .type-buttons .type-btn[aria-pressed="true"]{
    background-color:#ccc;
}
.section-catalog .type-buttons .type-btn.topsale{
    border-color:#ef5225
}
.section-catalog .type-buttons .type-btn.week-goods{
     border-color:#9eb847;
}
.section-catalog .type-buttons .type-btn.discount{
     border-color:#3baeda;
}
/******************************* MEDIA QUERIES ********************************/
/* Mobile */
@media (max-width: 760px) {
    header{
        padding-top:20px;
    }
    header .logo-link{
        width: 150px;
    }
    header .img-commerce,
    header .img-favorite{
        width: 14px;
    }
    header .img-favorite{
        padding-top:2px;
    }
    header .image-btn{
        padding: 11px 11px 12px;
        vertical-align: top;
        margin-left:4px;
    }
    header .navbar-toggle,
    header .navbar-toggle.collapsed{
        border-color:rgb(95,60,28);
        float:none;
        border-width: 2px;
        float: none;
        margin: 0 0 0 7px;
        border-radius: 10px;
        padding: 10px 10px;
    }
    header .navbar-toggle,
    header .navbar-toggle.collapsed .icon-bar{
        background:rgb(95,60,28);
    }
    header .navbar-toggle.collapsed ,
    header .navbar-toggle .icon-bar{
        background:#fff;
    }
    header .navbar-toggle .icon-bar{
        width: 12px;
    }
    footer {
        padding-top: 16px;
    }
    .mobile-collapsed{
        display:none;
    }
    .content .bx-advertisingbanner-content > div {
        font-size: 17px !important;
    }
    .content .bx-advertisingbanner-content {
        max-width: 230px !important;
    }

    .row.articles-links .article-container.discounts{
        background-image: url(images/advantage-icon-discount-mobile.png);
    }
    .row.articles-links .article-container.choise{
        background-image: url(images/advantage-icon-choise-mobile.png);
    }
    .row.articles-links .article-container.shipping{
        background-image: url(images/advantage-icon-free-shiping-mobile.png);
    }
    .row.articles-links .article-container.order{
        background-image: url(images/advantage-icon-pod-zakaz-mobile.png);
    }
    .row.articles-links .article-container{
        padding:0px;
        height: 65px;
        width: 65px;
    }
    .row.articles-links .article-container .table-wrap {
        display: none;
    }

    /******************* PRODUCT ITEM ************************/
    .product-item-preview.vertical .image-container,
    .product-item-preview.horizontal .image-container {
        width:135px;
        height: 100px;
    }
    .product-item-preview.vertical .image-container,
    .product-item-preview.vertical .data-container,
    .product-item-preview.horizontal .image-container,
    .product-item-preview.horizontal .data-container {
        display: block;
        /*width:auto;*/
    }
    .product-item-preview.vertical .image-container,
    .product-item-preview.horizontal .image-container  {
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .product-item-preview.horizontal .image-container img,
    .product-item-preview.vertical .image-container img{
        height: auto;
        width: 100%;
    }
    .product-item-preview.horizontal{
        display: inline-block;
        margin-right: 7px;
    }
    .product-item-preview.vertical .price-container .price,
    .product-item-preview.horizontal .price-container .price  {
        padding: 0px;
        display:block;
        font-size:16px;
    }
    .product-item-preview.vertical .data-container,
    .product-item-preview.horizontal .data-container{
        padding: 12px 10px;
    }
    .product-item-preview.vertical .data-container,
    .product-item-preview.horizontal .data-container {
        text-align: center;
        width: inherit;
    }
    .product-item-preview.vertical .title-container,
    .product-item-preview.horizontal .title-container {
        max-width:115px;
        padding:0;
    }
    .product-item-preview .icons-container .additional-icon.new {
        background-image:url(images/product-icon-new-tablet.png);
        background-repeat:no-repeat;
        z-index: 100;
    }
    .product-item-preview .icons-container .additional-icon.bestseller{
        background-image:url(images/product-icon-bestseller-tablet.png);
        background-repeat:no-repeat;
        z-index: 99;
    }
    .product-item-preview .icons-container .additional-icon.recommended{
        background-image:url(images/product-icon-recommended-tablet.png);
        background-repeat:no-repeat;
        z-index: 98;
    }
    .product-item-preview .icons-container .additional-icon{
        margin-top: -30px;
    }

    footer .general-container{
        background-position: 120% 76%;
    }
    footer .contacts{
        text-align: center;
    }
    footer .contacts p{
        display: inline-block;
    }
    footer .contacts .social-container{
        padding-top: 19px;
    }
    .sections-carousel {
        margin-top: 14px;
    }
    .sections-carousel h2 {
        margin-bottom: 13px;
    }
    .sections-carousel .column.first-section,
    .sections-carousel h2{
        padding: 0 15px;
    }
    .carousel-products .title-container .title {
        font-size: 16px;
        line-height: 32px;
    }
    .carousel-products .title-container .button i {
        line-height: 32px;
    }
    .sections-carousel .carousel-container {
        margin-bottom: 18px;
        padding: 0 15px;
    }
    .carousel-products .title-container .button.prev {
        margin-right: 10px;
    }
    #fox-icon-bottom,
    .sections-carousel .fox-icon.bottom{
        display:none;
    }
    .sections-carousel .fox-icon.top{
        background: url(images/sections-new-fox-top-mobile.png) no-repeat;
        width: 126px;
        height: 68px;
        top: 46px;
        left: 140px;
    }
    .product-item-preview.horizontal .rate-container table {
        margin: auto;
    }
    /**************************** PREVIEW ************************/
    .reviews-list .title-container {
        padding-right: 0px;
    }
    .reviews-list .title-container h2 {
        font-size: 22px;
    }
    .reviews-list-container {
        margin-top: 12px;
        max-height: 335px;
        overflow: hidden;
    }
    .view-all-btn {
        padding: 6px 16px;
    }
    .reviews-list .review-container {
        width: 289px;
        height: 158px;
        margin-bottom: 13px;
    }
    .review-container .review-info {
        padding: 10px 10px 10px 15px;
    }
    .review-container .review-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1px;
    }
    .content .section-about {
        min-height: 470px;
        height: auto;
    }
    .content .section-about h2 {
        font-size: 17px;
    }
    .content .section-about img {
        left: -877px;
        width:auto;
        height: 100%;
    }

    .section-catalog .type-buttons{
        padding-top: 15px;
    }
    .section-catalog .product-item-preview:nth-child(3n+2) {
        margin: 0 0 25px 0;
    }
    .section-catalog .product-item-preview:nth-child(even){
        margin: 0 0 0 8px;
    }
}

/* Tablet */
@media (min-width: 760px) and (max-width:992px) {
    .text-btn.yellow-btn{
        padding: 4px 17px;
    }
    .text-btn.blue-btn{
        padding: 4px 6px;
    }
    .image-btn {
        padding: 12px 12px 15px;
    }
    header{
        padding-top: 18px;
    }
    header .logo-link{
        margin: 0;
        padding-top: 15px;
    }
    header .contacts-container{
        text-align: right;
        padding:0 8px 10px 0;
    }
    header .contacts-container .contacts{
        letter-spacing: -1.4px;
    }
    header .cart-container{
        margin-top: 0;
    }
    header .cart-container .text-container {
        width: 138px;
    }
    header .cart-container .text-container{
        letter-spacing: -0.4;
        font-size: 13px;
        margin-left: 4px;
        width: 120px;
    }
    .search-input-container{
        display: inline-block;
        padding-left: 0;
    }
    .search-input-container .search-input {
        width: 95px;
        height: 23px;
    }
    .search-input-container .search-input~i.fa-search{
        top: 3px;
        left: 75px;
    }
    header .buttons-container{
        margin-left: -14px;
    }
    header .search-button-container{
        padding-top: 5px;
    }

    footer {
        padding-top: 17px;
    }
    .carousel-custom ul li img{
        height:110px;
    }
    .carousel-custom{
        height:230px;
    }
    .carousel-custom,
    .carousel-custom .prev,
    .carousel-custom .next{
        width:160px;
    }
    .carousel-custom li .text{
        font-size: 12px;
        top: 25%;
        max-width: 125px;
    }
    .carousel-custom .button {
        display: block;
    }
    .content .bx-advertisingbanner-content{
        max-width: 270px !important;
    }
    .content .bx-advertisingbanner-content > div{
        font-size: 19px !important;
    }
    .row.articles-links .article-container{
        padding-right:0;
        width:85px;
    }
    .row.articles-links .article-container .table-wrap{
        display: none;
    }
    .row.articles-links .article-container{
        padding:0px;
        height: 72px;
        width: 72px;
    }
    .row.articles-links .article-container.discounts{
        background-image: url(images/advantage-icon-discount-tablet.png);
    }
    .row.articles-links .article-container.choise{
        background-image: url(images/advantage-icon-choise-tablet.png);
    }
    .row.articles-links .article-container.shipping{
        background-image: url(images/advantage-icon-free-shiping-tablet.png);
    }
    .row.articles-links .article-container.order{
        background-image: url(images/advantage-icon-pod-zakaz-tablet.png);
    }


    /************** PRODUCT ITEM ***************/
    .product-item-preview.vertical .image-container {
        width:218px;
        height: 160px;
    }
    .product-item-preview.vertical .image-container img {
        width:220px;
    }
    .product-item-preview .data-container {
        padding: 12px 10px 15px;
    }
    .product-item-preview .price-container .price.old {
        font-size:17px;
        margin-right: 11px;
    }
    .product-item-preview.vertical .price-container .price {
        padding: 0px 5px;
    }
    .product-item-preview.vertical .title-container {
        padding: 4px;
    }
    .product-item-preview .rate-container {
        margin: 0;
    }

    .product-item-preview.horizontal .title-container {
        margin-top: 4px;
    }
    .product-item-preview.horizontal .data-container {
        padding: 36px 5px 5px 16px;
    }
    .product-item-preview.horizontal .data-container {
        width: 222px;
    }
    .product-item-preview.horizontal .data-container {
        height: 168px;
    }
    .product-item-preview .icons-container .additional-icon.new {
        background-image:url(images/product-icon-new-tablet.png);
        background-repeat:no-repeat;
        z-index: 100;
    }
    .product-item-preview .icons-container .additional-icon.bestseller{
        background-image:url(images/product-icon-bestseller-tablet.png);
        background-repeat:no-repeat;
        z-index: 99;
    }
    .product-item-preview .icons-container .additional-icon.recommended{
        background-image:url(images/product-icon-recommended-tablet.png);
        background-repeat:no-repeat;
        z-index: 98;
    }
    .product-item-preview .icons-container .additional-icon{
        margin-top: -30px;
    }

    footer .general-container{
        background-position: 100% 76%;
    }

    .sections-carousel {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .sections-carousel h2 {
         margin-bottom: 23px;
        padding-left: 10px;
     }
    .sections-carousel .column {
        padding-left: 15px;
    }
    .sections-carousel .fox-icon.bottom {
        display: none;
        bottom: -26px;
        right: -5px;
    }
    .sections-carousel .fox-icon.top {
        top: 55px;
        left: 295px;
        background: url(images/sections-new-fox-top-tablet.png) no-repeat;
        width: 140px;
        height: 75px;
    }
    .section-reviews-news .reveiew-icon-fox {
        margin-left: -70px;
    }
    /******************************* REVIEWS **************************/
    .reviews-list .title-container h2 {
        margin-top: 0;
        font-size: 21px;
        padding-left: 10px;
        padding-top: 3px;

    }
    .reviews-list .title-container {
        padding-right: 12px;
    }
    .reviews-list-container {
        margin-top: 15px;
        padding-left: 7px;
    }
    .reviews-list .review-container {
        width: 342px;
        height: 185px;
    }
    .review-container .review-info {
        margin-bottom: 23px;
    }
    .review-container .review-title {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.3px;
    }
    .review-container .review-title,
    .review-container .review-anonce {
        padding: 2px 15px;
    }
    .review-container .review-info {
        padding: 10px 10px 10px 15px;
    }
    .review-container:nth-child(odd) {
        margin-right: 17px;
    }
    .reviews-list .review-container {
        margin-bottom: 13px;
    }
    .review-container .review-anonce {
        line-height: 18px;
    }
    .content .section-about img {
        left: -313px;
    }
    .content .section-about h2 {
        font-size: 24px;
    }
}
/* (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-btn.yellow-btn{
        padding:6px 38px;
    }
    .text-btn.blue-btn{
        padding:6px 30px;
    }
    header .right-button-container{

    }
    header .left-button-container{

    }

}
@media (min-width: 992px) and (max-width: 1200px)
{
    input.form-control.search-input{
        width: 257px;
    }
    .text-btn.blue-btn,
    .text-btn.yellow-btn{
        padding: 6px 25px;
    }
    header .contacts span {
        display: inline-block;
        line-height: 22px;
    }
    header .cart-container .text-container {
        width: 138px;
    }
    .search-input-container .search-input~i.fa-search {
        left: 238px;
    }
    .carousel-custom ul li img{
        height:140px;
    }
    .carousel-custom{
        height:295px;
    }
    .carousel-custom,
    .carousel-custom .prev,
    .carousel-custom .next{
        width:220px;
    }
    .row.articles-links .article-container{
        width:230px;
    }
    .sections-carousel .fox-icon.bottom {
        display: none;
        bottom: -50px;
        right: 0px;
    }
    .section-reviews-news .news{
        padding-right: 0;
    }
    /************************** REVIEWS **********************/
    .reviews-list .review-container {
        width: 325px;
        height: 175px;
    }
    .review-container .review-info {
        margin-bottom: 0px;
    }
    .view-all-btn {;
        padding: 6px 15px;
    }

    .section-reviews-news .reveiew-icon-hearts{
        display: inline-block;
    }

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .row.articles-links .article-container:nth-child(n+2) {
        margin-left: 22px;
    }
    .sections-carousel .fox-icon.bottom{
        display: none;
    }
    .reviews-list{
        padding-left: 0;
    }
    .section-reviews-news .news{
        padding-right: 0;
    }
    .section-reviews-news .reveiew-icon-hearts{
        display: inline-block;
    }
}
@media (min-width: 1400px){
    .sections-carousel .fox-icon.bottom{
        display: inline-block;
    }
    #fox-icon-bottom{
        display: none;
    }
    .content .section-about img {
        width: 100%;
    }
}

/*@media (min-width: 1240px){*/
    /*.container{*/
        /*width: 1240px;*/
    /*}*/
/*}*/