/********** PASSWORD RESET **********/
#password-reset-modal .reset-title-container {
    text-align:center;
}
#password-reset-modal .reset-title{
    display: inline-block;
    width: 80%;
    margin-bottom: 25px;
}
#password-reset-modal .registration-social{
    margin-top: 18px;
}
#password-reset-modal .autorization-column {
    text-align: right;
}
#password-reset-modal  .button-container {
    margin-top: 41px;
}
#password-reset-modal .button-container button {
    font-size: 14px;
    padding: 10px 35px;
}

/* Mobile */
@media (max-width: 760px) {
    #password-reset-modal .reset-title {
        width: 90%;
    }
}