/******************************* PROFILE ORDERS *****************************/
.section-personal.orders{
    padding-top: 15px;
}
.section-personal.orders .orders-table-column .table-header .title {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    vertical-align: middle;
    display: inline-block;
    line-height: 55px;
}
.section-personal.orders .orders-table-column .table-header {
    border-radius:10px;
    margin-bottom:14px;
}
.section-personal.orders .orders-table-column .table-header .order-number-column {
    text-align:center;
}
.section-personal.orders  .orders-table-column  {
    padding-top: 0px;
}
.section-personal.orders .table-row {
    /*padding: 12px 0px;*/
}
.section-personal.orders .table-row .order-number{
    margin-left: 19px;
}
.section-personal.orders .table-row .pay-btn {
    padding: 9px 23px;
    margin-right: 8px;
}
.section-personal.orders .table-row .pay-btn a,
.section-personal.orders .table-row .pay-btn:hover,
.section-personal.orders .table-row .pay-btn:focus{
    color:#fff;
    text-decoration: none;
}
.section-personal.orders .table-row .pay-btn:hover{}
.section-personal.orders .table-row .repeat-btn{
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 7px;
    margin-right: 8px;
}
.section-personal.orders .table-row .option-btn{
    font-size: 15px;
    padding: 8px 9px 3px;
    border-radius: 7px;
}
.section-personal.orders .table-row .general-data-container .order-number-column,
.section-personal.orders .table-row .general-data-container .count-column  {
    padding-top:17px;
    padding-bottom:12px;
}
.section-personal.orders .table-row .general-data-container .count-column {
    padding-left: 40px;
}
.section-personal.orders .table-row .general-data-container .order-date-column {
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 12px;
}
.section-personal.orders .table-row .general-data-container .price-column,
.section-personal.orders .table-row .general-data-container .shipping-column {
    padding-top: 10px;
}
.section-personal.orders .table-row .general-data-container .price-column {
    padding-left: 3px;
}
.section-personal.orders .table-row .general-data-container .shipping-column {
    padding-left: 10px;
}

.section-personal.orders .table-row .controls-buttons-column {
    padding-top: 10px;
    padding-left: 27px;
    text-align: right;
}
.section-personal.orders .table-row .price-column,
.section-personal.orders .table-row .shipping-column {
    font-size: 20px;
    font-weight: bold;
}
.section-personal.orders .table-row .more-data-container ul {
    margin:0;
    padding:0;
    list-style:none;
    padding-left: 25px;
}
.section-personal.orders .table-row .more-data-container .brown-text {
    color: #5d3d1d;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    vertical-align: top;
}
.section-personal.orders .table-row .more-data-container .brown-text:nth-child(1){
    width: 6%;
}
.section-personal.orders .table-row .more-data-container .brown-text:nth-child(2){
    width: 90%;
}
.section-personal.orders .more-data-container .product-name-column a:hover{
    text-decoration: none;
}

.section-personal.orders .table-row.opened {
    border:2px solid #5d3d1d;
    border-radius:10px;
    margin: 7px -5px;
    padding-top: 4px;
}
.section-personal.orders .table-row.opened .order-number{
    margin-left: 6px;
    border-bottom:2px dotted transparent;
    cursor:default;
}
.section-personal.orders .table-row.opened .pay-btn {
    display:none;
}
.section-personal.orders .more-data-container{
    display: none;
}
.section-personal.orders .opened .more-data-container{
    display: block;
}
.section-personal.orders .more-data-container .price-column{
    padding-left: 28px;
    padding-top: 5px;
}
.section-personal.orders .more-data-container .data-list{
    padding: 30px 0px 0 37px;
}
.section-personal.orders .more-data-container .data-list .title{
    font-weight: bold;
}
.section-personal.orders .more-data-container .data-list .value{
    padding-left: 0px;
    text-align: left;
}
.section-personal.orders .more-data-container .product-name-column,
.section-personal.orders .more-data-container .count-column{
    padding-top: 7px;
}
.section-personal.orders .more-data-container .count-column{
    padding-left: 28px;
}
.section-personal.orders .more-data-container .controls-buttons-column{
    text-align: right;
}
.section-personal.orders .table-row.opened .controls-buttons-column {
    padding-right: 11px;
    text-align: right;
    padding-top: 8px;
}
.section-personal.orders .table-row.opened .option-btn{
    border:2px solid #5d3d1d;
    padding: 7px 7px 0px;
}

.section-personal.orders .more-data-container .shipping-progress-container {
    margin-top: 52px;
    padding-left: 80px;
}
.section-personal.orders .more-data-container .close-button-container {
    text-align:center;
    padding: 25px 0 21px;
}


/* Mobile */
@media (max-width: 760px) {
    /*************************** PERSONAL - ORDERS *******************************/
    .section-personal.orders .table-row .order-number {
        margin-left: 0px;
    }
    .section-personal.orders .table-row .pay-btn {
        margin-right: 0px;
    }
    .section-personal.orders .table-row .repeat-btn {
        margin-right: 0px;
    }
    .section-personal.orders .table-row .controls-buttons-column {
        padding-left: 0px;
        padding-right:0;
        text-align: right;
    }
    .section-personal.orders .table-row .pay-btn {
        padding: 9px 18px;
    }
    .section-personal.orders .table-row .more-data-container ul {
        padding-left: 12px;
    }
    .section-personal.orders .table-row.opened {
        padding-top: 0px;
        border: none;
        margin-top: 0;
    }
    .section-personal.orders .opened .more-data-container{
        border: 2px solid #5d3d1d;
        border-radius: 10px;
        padding-top: 15px;
    }
    .section-personal.orders .table-row .more-data-container .brown-text {
        font-size: 14px;
    }
    .section-personal.orders .more-data-container .price-column {
        padding-left: 3px;
        padding-top: 0px;
    }
    .section-personal.orders .more-data-container .data-list {
        padding: 23px 0px 0 10px;
    }
    .section-personal.orders .more-data-container .data-list .value {
        padding-left: 15px;
    }
    .section-personal.orders .more-data-container .data-list .title {
        padding: 1px 15px;
    }
    .section-personal.orders .more-data-container .shipping-progress-container {
        margin-top: 25px;
        padding-left: 11px;
    }
    .section-personal.orders .more-data-container .shipping-progress-container .value {
        color: rgb(99,186,196);
    }
    .section-personal.orders .more-data-container .close-button-container {
        padding: 16px 0 25px;
    }
    .section-personal.orders .table-row.opened .controls-buttons-column {
        padding-right: 0;
        padding-top: 10px;
    }
    .section-personal.orders .table-row.opened .order-number{
        margin-left: 0;
        border-bottom: 2px dotted #5d3d1d;
    }
    .section-personal.orders .table-row.opened .general-data-container{
        margin: 0 -10px;
    }
}
/* Tablet */
@media (min-width: 760px) and (max-width:992px) {
    /******************************* PERSONAL ORDERS ******************************/
    .section-personal.orders .table-row .controls-buttons-column {
        padding-left: 0px;
        padding-right: 0;
    }
    .section-personal.orders .table-row .pay-btn {
        margin-right: 0px;
    }
    .section-personal.orders .table-row .repeat-btn {
        margin-right: 0px;
    }

    .section-personal.orders .more-data-container .count-column {
        padding-left: 0px;
        padding-right:0;
    }
    .section-personal.orders .more-data-container .price-column {
        padding-left: 14px;
        padding-top: 0px;
    }
    .section-personal.orders .more-data-container .data-list {
        padding: 15px 0px 0 27px;
    }
    .section-personal.orders .more-data-container .shipping-progress-container {
        margin-top: 25px;
        padding-left: 27px;
    }
    .section-personal.orders .more-data-container .shipping-progress-container .title {
        font-weight:bold;
    }
    .section-personal.orders .more-data-container .shipping-progress-container .value {
        color: rgb(99,186,196);
    }
    .section-personal.orders .more-data-container .close-button-container {
        text-align: center;
        padding: 19px 0 21px;
    }
    .section-personal.orders .table-row.opened .controls-buttons-column{
        width: 25%;
    }
    .section-personal.orders .table-row.opened .general-data-container .order-date-column{
        width: 33.3%;
    }
}

@media (min-width: 992px) and (max-width: 1230px){
    /***************************** PERSONAL ORDERS ****************************/
    .section-personal.orders .table-row .pay-btn {
        margin-right: 0px;
    }
    .section-personal.orders .table-row .repeat-btn {
        margin-right: 0px;
    }
    .section-personal.orders .table-row .controls-buttons-column {
        padding-left: 0px;
    }
    .section-personal.orders .more-data-container .shipping-progress-container {
        padding-left: 37px;
    }
    .section-personal.orders .more-data-container .shipping-bar li,
    .section-personal.orders .more-data-container .shipping-bar li .stage-text {
        width: 80px;
    }
    .section-personal.orders .orders-table-column .table-header .count-column .title {
        line-height: 25px;
    }
    .section-personal.orders .more-data-container .price-column {
         padding-left: 20px;
     }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1230px){

}