/*************************************** ***********************/
.ia-articles-list-container{
    padding-top: 40px;
}

/* Mobile */
@media (max-width: 760px) {

    .ia-articles-list-container {
        padding-top: 0px;
    }
}
/* Tablet */
@media (min-width: 760px) and (max-width:992px) {
    .ia-articles-list-container{
        padding-top: 20px;
    }

}

@media (min-width: 992px) and (max-width: 1230px){

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1230px){
    .ia-articles-list-container .main-carousel.row{
        padding-top: 52px;
        padding-bottom: 10px;
    }

}