/********************************* REVIEWS LIST *************************************/
.ia-reviews-list.reviews-list  {

}
.ia-reviews-list.reviews-list {
    padding: 20px 0px 0px;
}
.ia-reviews-list.reviews-list .reviews-list-container {
    margin-top: 0px;
}
.ia-reviews-list .review-container:nth-child(odd) {
    margin-right: 25px;
}
.ia-reviews-list.reviews-list .review-container {
    margin-bottom: 25px;
}
.ia-reviews-list.reviews-list .reviews-list-container {
    /* margin-top: 20px; */
}
.ia-reviews-list.reviews-list .pagination-container {
    /*display:inline-block;*/
    text-align: right;
}
.ia-reviews-list.reviews-list .top-pager-container{
    min-height: 65px;
}
.ia-reviews-list.reviews-list .tag-list-container{
    float:left;
}
.ia-reviews-list.reviews-list .tag-list-container .dropdown.select-container{
    display: inline-block;
}
.ia-reviews-list.reviews-list .tag-list-container .dropdown-wrap{
     margin-top: 10px;
     display: inline-block;
 }
.ia-news-single .text-container img{
    border-radius:10px;
}
.ia-reviews-list.reviews-list .review-container .tags-container{
    position: absolute;
    margin-top: -57px;
    margin-left: 30px;
}
.ia-reviews-list.reviews-list .review-container .tags-container a{
    color: #f5ad5b;
}
.ia-reviews-list.reviews-list .review-container .tags-container a,
.ia-reviews-list.reviews-list .review-container .tags-container a:hover,
.ia-reviews-list.reviews-list .review-container .tags-container a:focus{
    background-color: transparent;
}


 /*Mobile */
@media (max-width: 760px) {
    .ia-reviews-list.reviews-list{
        text-align: center;
    }
    .ia-reviews-list.reviews-list .review-anonce{
        display: none;
    }
    .ia-reviews-list.reviews-list .review-container:nth-child(odd) {
         margin-right: 0px;
    }
    .ia-reviews-list.reviews-list .tag-list-container{
        float:none;
    }
    .ia-reviews-list.reviews-list .tag-list-container .dropdown-wrap{
        display: block;
    }
    .ia-reviews-list.reviews-list .top-pager-container {
        min-height: 90px;
    }
    .ia-reviews-list.reviews-list .pagination-container{
        text-align: center;
    }
    .ia-reviews-list.reviews-list .review-container .tags-container {
        margin-top: -30px;
        margin-left: 16px;
    }
    .ia-reviews-list.reviews-list .review-container .review-title {
        text-align: left;
    }
    .ia-reviews-list.reviews-list  .review-container .review-info{
         margin-bottom: 23px;
     }
    .ia-reviews-list.reviews-list .review-container {
        margin-bottom: 10px;
    }
}
 /*Tablet */
@media (min-width: 760px) and (max-width:992px) {
    .ia-reviews-list.reviews-list .review-container .tags-container{
        margin-top: -35px;
        margin-left: 18px;
    }
    .ia-reviews-list.reviews-list  .review-container .review-info{
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1230px){
    .ia-reviews-list.reviews-list .review-container {
        width: 450px;
        height: 280px;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1230px){
    .ia-reviews-list.reviews-list .review-container{
        width: 585px;
        height: 318px;
    }

    .ia-reviews-list.reviews-list .review-container .review-title,
    .ia-reviews-list.reviews-list .review-container .review-anonce {
        padding: 5px 130px 5px 36px;
    }
    .ia-reviews-list.reviews-list .review-container .review-info {
        margin-bottom: 78px;
    }
}
