/*************************************** ***********************/
.news-list-content {
    padding-top: 18px;
}
.news-list-content .select-container.tag .btn,
.news-list-content .select-container.tag .dropdown-menu {
    min-width: 200px;
}
.news-list-content .select-container.dropdown.tag .btn > span.text {
    width: 165px;
}
.news-list-content .select-container.order .btn,
.news-list-content .select-container.order .dropdown-menu {
    min-width: 150px;
}
.news-list-content .select-container.dropdown.order .btn > span.text {
    width: 115px;
}