

/********************************* REVIEWS SINGLE *********************************/
.ia-reviews-single {
    /*padding:107px 0 0;*/
}
.ia-reviews-single .review-info {
    background-color: #3baeda;
    width:auto;
    padding: 10px 20px 10px 20px;
    color:#fff;
}
.ia-reviews-single .review-full-image{
    width:500px;
    height:362px;
    /*max-width:500px;
    max-height:362px;*/
    float:left;
    margin: 0 42px 35px 0;
}
.ia-reviews-single .review-info .date.text{
    margin-right: 14px;
}
.ia-reviews-single .review-info .date.text,
.ia-reviews-single .review-info .comments.text {
    display:inline-block;
}

.ia-reviews-single .review-info-container .review-info {
    display:inline-block;
}
.ia-reviews-single .review-info-container {
    margin-bottom:15px;
}
.ia-reviews-single .text-container {
    color:#79828b;
}
.ia-reviews-single h1 {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 22px;
}
.ia-reviews-single .tags-container {
    margin-bottom:27px;
}


/* Mobile */
@media (max-width: 760px) {

    /****************************** REVIEW SINGLE ********************/
    .ia-reviews-single .review-full-image {
        width: 291px;
        height: 209px;
        float:none;
    }
    .ia-reviews-single {
        /*padding: 67px 15px 0;*/
    }
    .ia-reviews-single h1,
    .ia-reviews-single .review-info-container,
    .ia-reviews-single .tags-container{
        text-align: center;
    }
    .ia-reviews-single h1 {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 13px;
    }
    .ia-reviews-single .tags-container {
        margin-bottom: 18px;
    }
}
/* Tablet */
@media (min-width: 760px) and (max-width:992px) {

    /************************ REVIEW SINGLE ***********************/
    .ia-reviews-single .review-full-image{
        width:282px;
        height:200px;
        /*max-width:500px;
        max-height:362px;*/
        margin: 0 39px 11px 0;
    }
    .ia-reviews-single {
        /*padding: 72px 0 0;*/
    }
}

@media (min-width: 992px) and (max-width: 1230px){

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1230px){

}